body {
  background: #e9d74d;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}

/* NAV */
  nav{
    border-bottom: 2px solid rgb(142, 142, 142);
  }

  #title {
    background: -webkit-linear-gradient(rgb(252, 100, 100), rgb(103, 108, 245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    text-decoration-line: none;
    text-shadow: rgb(103, 108, 245);
    transition: 1s ease-in;
  }

  input {
    width:100%;
    padding: 5px;
    background-color: rgb(103, 108, 245);
    color: khaki;
    border-radius: 5px;
    border-color: #676cf5;
    font-size: 15px;
  }

  #search::placeholder {
    color: rgb(187, 187, 187);
  }


/* MAIN */
  #initialText {
    display: flex; 
    justify-content:center;
    margin-top: 5%;
    font-weight:bold;
    font-size: 4vh;
    color: rgb(103, 108, 245);
  }

  #nrresult {
    color: blueviolet;
  }

  

  .padre {
    background-color: rgba(103, 108, 245, 0.735);
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    color: white;
    border-radius: 5px;
    transition-duration: 0.3s;
  }

  .figlio {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    width: 84.5%;
  }

  .artist {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: white;
  }

  .album {
    font-style: italic;
    font-size: large;
  }

  .track {
    font-size: medium;
  }

  .genre {
    text-align: right;
  }

  .duration {
    text-align: right;
  }

  .trackCount {
    text-align: right;
  }

  .artwork {
    border-radius: 5px;
  }

  .artworklink {
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin-top: 9px;
    margin-left: 5px;
  }

  .player {
    width: 15%;
  }

/* HOVERS */
  .padre:hover {
    background-color: rgb(103, 108, 245);
    transition-duration: 0.3s;
  }

  #title:hover {
    background: -webkit-linear-gradient(rgb(103, 108, 245), rgb(252, 100, 100));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-in;
  }

  .artworklink:hover {
    background-color: rgba(240, 230, 140, 0.589);
  }

  .artist:hover {
    font-weight: bolder;
    font-size: larger;
    text-decoration-line: underline;
    color: khaki;
    transition-duration: 0.5s;
  }
